In [1]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns', None)

In [2]:
nomad_df = pd.read_csv('nomad_list.csv')

In [3]:
nomad_df.head(2)

,Unnamed: 0,Rank,City,â­ï¸ Total score,ğŸ‘ Quality of life score,ğŸ‘¶ Family score,ğŸ’µ Cost,ğŸ“¡ Internet,ğŸ˜ Fun,â›…ï¸ Temperature (now),ğŸ’¦ Humidity (now),ğŸ’¨ Air quality (now),ğŸ’¨ Air quality (annual),ğŸ‘Œ Safety,ğŸ‘®â€â™€ï¸ Lack of crime*,ğŸ¤ Lack of racism*,ğŸ“ Education level*,ğŸ’° Income level*,ğŸ™Š English speaking*,ğŸ˜¤ People density,ğŸš¶ Walkability,âœŒï¸ Peace (no pol. conflict),ğŸš¦ Traffic safety*,ğŸ¥ Hospitals*,ğŸ˜„ Happiness*,ğŸ¸ Nightlife,ğŸ“¶ Free WiFi in city,ğŸ–¥ Places to work from,â„ï¸ A/C or heating,ğŸ˜ Friendly to foreigners,ğŸ—¯ Freedom of speech*,ğŸ‘© Female friendly,ğŸŒˆ LGBTQ+ friendly,ğŸ… Startup Score
0,0,0,Lisbon,â­ï¸ Total score\n4.8/5 (Rank #1)\n255 reviews,ğŸ‘ Quality of life score\nGood,ğŸ‘¶ Family score\nGood,"ğŸ’µ Cost\nğŸ˜™ Affordable: $2,082 / mo",ğŸ“¡ Internet\nğŸ Fast: 26Mbps (avg),ğŸ˜ Fun\nGreat,â›…ï¸ Temperature (now)\nğŸŒ Nice: 18Â°C (feels 19Â°C),ğŸ’¦ Humidity (now)\nğŸ˜Š Comfy: 76%,ğŸ’¨ Air quality (now)\nğŸŒ± Great: 16 US AQI,ğŸ’¨ Air quality (annual)\nğŸŒ± Great: 32 US AQI,ğŸ‘Œ Safety\nGreat,ğŸ‘®â€â™€ï¸ Lack of crime*\nGreat,ğŸ¤ Lack of racism*\nOkay,ğŸ“ Education level*\nMediocre,"ğŸ’° Income level*\nLow: $1,646 / mo",ğŸ™Š English speaking*\nGreat,ğŸ˜¤ People density\nğŸ§˜â€â™€ï¸ Low density: 6k ppl/kmÂ²...,ğŸš¶ Walkability\nGreat,âœŒï¸ Peace (no pol. conflict)\nGood,ğŸš¦ Traffic safety*\nOkay,ğŸ¥ Hospitals*\nBad,ğŸ˜„ Happiness*\nOkay,ğŸ¸ Nightlife\nOkay,ğŸ“¶ Free WiFi in city\nOkay,ğŸ–¥ Places to work from\nGreat,â„ï¸ A/C or heating\nOkay,ğŸ˜ Friendly to foreigners\nGood,ğŸ—¯ Freedom of speech*\nGood,ğŸ‘© Female friendly\nGood,ğŸŒˆ LGBTQ+ friendly\nGreat,ğŸ… Startup Score\nOkay
1,1,1,Cape Town,â­ï¸ Total score\n4.67/5 (Rank #2)\n251 reviews,ğŸ‘ Quality of life score\nGood,ğŸ‘¶ Family score\nGood,"ğŸ’µ Cost\nğŸ˜™ Affordable: $1,692 / mo",ğŸ“¡ Internet\nğŸ™‚ Good: 8Mbps (avg),ğŸ˜ Fun\nGood,â›…ï¸ Temperature (now)\nğŸŒ Perfect: 22Â°C (feels 2...,ğŸ’¦ Humidity (now)\nğŸ˜Š Comfy: 87%,ğŸ’¨ Air quality (now)\nğŸŒ± Great: 1 US AQI,ğŸ’¨ Air quality (annual)\nğŸŒ± Great: 16 US AQI,ğŸ‘Œ Safety\nOkay,ğŸ‘®â€â™€ï¸ Lack of crime*\nVery bad,ğŸ¤ Lack of racism*\nOkay,ğŸ“ Education level*\nMediocre,ğŸ’° Income level*\nVery low: $425 / mo,ğŸ™Š English speaking*\nGreat,ğŸ˜¤ People density\nğŸ§˜â€â™€ï¸ Low density: 4k ppl/kmÂ²...,ğŸš¶ Walkability\nGreat,âœŒï¸ Peace (no pol. conflict)\nBad,ğŸš¦ Traffic safety*\nBad,ğŸ¥ Hospitals*\nGood,ğŸ˜„ Happiness*\nBad,ğŸ¸ Nightlife\nGood,ğŸ“¶ Free WiFi in city\nGood,ğŸ–¥ Places to work from\nGreat,â„ï¸ A/C or heating\nBad,ğŸ˜ Friendly to foreigners\nGood,ğŸ—¯ Freedom of speech*\nGood,ğŸ‘© Female friendly\nOkay,ğŸŒˆ LGBTQ+ friendly\nGreat,ğŸ… Startup Score\nOkay

In [4]:
nomad_df.columns

Index(['Unnamed: 0', 'Rank', 'City', 'â­ï¸ Total score',
       'ğŸ‘ Quality of life score', 'ğŸ‘¶ Family score', 'ğŸ’µ Cost', 'ğŸ“¡ Internet',
       'ğŸ˜ Fun', 'â›…ï¸ Temperature (now)', 'ğŸ’¦ Humidity (now)',
       'ğŸ’¨ Air quality (now)', 'ğŸ’¨ Air quality (annual)', 'ğŸ‘Œ Safety',
       'ğŸ‘®â€â™€ï¸ Lack of crime*', 'ğŸ¤ Lack of racism*', 'ğŸ“ Education level*',
       'ğŸ’° Income level*', 'ğŸ™Š English speaking*', 'ğŸ˜¤ People density',
       'ğŸš¶ Walkability', 'âœŒï¸ Peace (no pol. conflict)', 'ğŸš¦ Traffic safety*',
       'ğŸ¥ Hospitals*', 'ğŸ˜„ Happiness*', 'ğŸ¸ Nightlife', 'ğŸ“¶ Free WiFi in city',
       'ğŸ–¥ Places to work from', 'â„ï¸ A/C or heating',
       'ğŸ˜ Friendly to foreigners', 'ğŸ—¯ Freedom of speech*', 'ğŸ‘© Female friendly',
       'ğŸŒˆ LGBTQ+ friendly', 'ğŸ… Startup Score'],
      dtype='object')

In [5]:
nomad_df.drop(['Unnamed: 0', 'â›…ï¸ Temperature (now)', 'ğŸ’¦ Humidity (now)', 'ğŸ’¨ Air quality (now)', 'âœŒï¸ Peace (no pol. conflict)', 'ğŸ¥ Hospitals*', 'ğŸ˜¤ People density', 'ğŸ‘Œ Safety'], inplace=True, axis=1)

In [6]:
# 'ğŸ¥ Hospitals*' 'ğŸ˜¤ People density' high none value , ğŸ‘Œ Safety as lack could be the same

In [7]:
nomad_df.columns

Index(['Rank', 'City', 'â­ï¸ Total score', 'ğŸ‘ Quality of life score',
       'ğŸ‘¶ Family score', 'ğŸ’µ Cost', 'ğŸ“¡ Internet', 'ğŸ˜ Fun',
       'ğŸ’¨ Air quality (annual)', 'ğŸ‘®â€â™€ï¸ Lack of crime*', 'ğŸ¤ Lack of racism*',
       'ğŸ“ Education level*', 'ğŸ’° Income level*', 'ğŸ™Š English speaking*',
       'ğŸš¶ Walkability', 'ğŸš¦ Traffic safety*', 'ğŸ˜„ Happiness*', 'ğŸ¸ Nightlife',
       'ğŸ“¶ Free WiFi in city', 'ğŸ–¥ Places to work from', 'â„ï¸ A/C or heating',
       'ğŸ˜ Friendly to foreigners', 'ğŸ—¯ Freedom of speech*', 'ğŸ‘© Female friendly',
       'ğŸŒˆ LGBTQ+ friendly', 'ğŸ… Startup Score'],
      dtype='object')

In [8]:
nomad_df['â­ï¸ Total score'] = nomad_df['â­ï¸ Total score'].map(lambda x: str(x)[15:18])

In [9]:
nomad_df['ğŸ‘ Quality of life score'].value_counts()

ğŸ‘ Quality of life score\nOkay     692
ğŸ‘ Quality of life score\nGood     560
ğŸ‘ Quality of life score\nBad       59
ğŸ‘ Quality of life score\nGreat      1
Name: ğŸ‘ Quality of life score, dtype: int64

In [10]:
nomad_df['ğŸ‘ Quality of life score'] = nomad_df['ğŸ‘ Quality of life score'].map(lambda x: str(x)[24:])

In [11]:
nomad_df['ğŸ‘ Quality of life score'].value_counts()

Okay     692
Good     560
Bad       59
Great      1
Name: ğŸ‘ Quality of life score, dtype: int64

In [12]:
nomad_df['ğŸ‘¶ Family score'].value_counts()

ğŸ‘¶ Family score\nOkay    690
ğŸ‘¶ Family score\nBad     411
ğŸ‘¶ Family score\nGood    211
Name: ğŸ‘¶ Family score, dtype: int64

In [13]:
nomad_df['ğŸ‘¶ Family score'] = nomad_df['ğŸ‘¶ Family score'].map(lambda x: str(x)[15:])

In [14]:
nomad_df['ğŸ‘¶ Family score'].value_counts()

Okay    690
Bad     411
Good    211
Name: ğŸ‘¶ Family score, dtype: int64

In [15]:
nomad_df['ğŸ˜ Fun'].value_counts()

ğŸ˜ Fun\nOkay     649
ğŸ˜ Fun\nBad      328
ğŸ˜ Fun\nGood     233
ğŸ˜ Fun\nGreat     98
None              4
Name: ğŸ˜ Fun, dtype: int64

In [16]:
nomad_df['ğŸ˜ Fun'] = nomad_df['ğŸ˜ Fun'].map(lambda x: str(x)[6:])

In [17]:
nomad_df['ğŸ˜ Fun'].value_counts()

Okay     649
Bad      328
Good     233
Great     98
           4
Name: ğŸ˜ Fun, dtype: int64

In [18]:
nomad_df['ğŸ‘®â€â™€ï¸ Lack of crime*'].value_counts()

ğŸ‘®â€â™€ï¸ Lack of crime*\nGood        673
ğŸ‘®â€â™€ï¸ Lack of crime*\nGreat       384
ğŸ‘®â€â™€ï¸ Lack of crime*\nOkay         92
ğŸ‘®â€â™€ï¸ Lack of crime*\nBad          88
ğŸ‘®â€â™€ï¸ Lack of crime*\nVery bad     56
None                              19
Name: ğŸ‘®â€â™€ï¸ Lack of crime*, dtype: int64

In [19]:
nomad_df['ğŸ‘®â€â™€ï¸ Lack of crime*'] = nomad_df['ğŸ‘®â€â™€ï¸ Lack of crime*'].map(lambda x: str(x)[20:])

In [20]:
nomad_df['ğŸ‘®â€â™€ï¸ Lack of crime*'].value_counts()

Good        673
Great       384
Okay         92
Bad          88
Very bad     56
             19
Name: ğŸ‘®â€â™€ï¸ Lack of crime*, dtype: int64

In [21]:
nomad_df['ğŸ¤ Lack of racism*'].value_counts()

ğŸ¤ Lack of racism*\nBad      428
ğŸ¤ Lack of racism*\nGood     365
ğŸ¤ Lack of racism*\nOkay     312
ğŸ¤ Lack of racism*\nGreat    136
None                         71
Name: ğŸ¤ Lack of racism*, dtype: int64

In [22]:
nomad_df['ğŸ¤ Lack of racism*'] = nomad_df['ğŸ¤ Lack of racism*'].map(lambda x: str(x)[18:])

In [23]:
nomad_df['ğŸ¤ Lack of racism*'].value_counts()

Bad      428
Good     365
Okay     312
Great    136
          71
Name: ğŸ¤ Lack of racism*, dtype: int64

In [24]:
nomad_df['ğŸ“ Education level*'].value_counts()

ğŸ“ Education level*\nHigh         711
ğŸ“ Education level*\nMediocre     355
ğŸ“ Education level*\nLow          163
None                              41
ğŸ“ Education level*\nVery high     25
ğŸ“ Education level*\nVery low      17
Name: ğŸ“ Education level*, dtype: int64

In [25]:
nomad_df['ğŸ“ Education level*'] = nomad_df['ğŸ“ Education level*'].map(lambda x: str(x)[19:])

In [26]:
nomad_df['ğŸ“ Education level*'].value_counts()

High         711
Mediocre     355
Low          163
              41
Very high     25
Very low      17
Name: ğŸ“ Education level*, dtype: int64

In [27]:
nomad_df['ğŸ™Š English speaking*'].value_counts()

ğŸ™Š English speaking*\nBad      469
ğŸ™Š English speaking*\nGreat    465
ğŸ™Š English speaking*\nOkay     243
ğŸ™Š English speaking*\nGood     134
None                            1
Name: ğŸ™Š English speaking*, dtype: int64

In [28]:
nomad_df['ğŸ™Š English speaking*'] = nomad_df['ğŸ™Š English speaking*'].map(lambda x: str(x)[20:])

In [29]:
nomad_df['ğŸ™Š English speaking*'].value_counts()

Bad      469
Great    465
Okay     243
Good     134
           1
Name: ğŸ™Š English speaking*, dtype: int64

In [30]:
nomad_df['ğŸš¶ Walkability'].value_counts()

ğŸš¶ Walkability\nGreat    821
ğŸš¶ Walkability\nBad      293
ğŸš¶ Walkability\nOkay     198
Name: ğŸš¶ Walkability, dtype: int64

In [31]:
nomad_df['ğŸš¶ Walkability'] = nomad_df['ğŸš¶ Walkability'].map(lambda x: str(x)[14:])

In [32]:
nomad_df['ğŸš¶ Walkability'].value_counts()

Great    821
Bad      293
Okay     198
Name: ğŸš¶ Walkability, dtype: int64

In [33]:
nomad_df['ğŸš¦ Traffic safety*'].value_counts()

ğŸš¦ Traffic safety*\nOkay    855
ğŸš¦ Traffic safety*\nBad     457
Name: ğŸš¦ Traffic safety*, dtype: int64

In [34]:
nomad_df['ğŸš¦ Traffic safety*'] = nomad_df['ğŸš¦ Traffic safety*'].map(lambda x: str(x)[18:])

In [35]:
nomad_df['ğŸš¦ Traffic safety*'].value_counts()

Okay    855
Bad     457
Name: ğŸš¦ Traffic safety*, dtype: int64

In [36]:
nomad_df['ğŸ˜„ Happiness*'].value_counts()

ğŸ˜„ Happiness*\nGood     579
ğŸ˜„ Happiness*\nOkay     365
ğŸ˜„ Happiness*\nBad      188
ğŸ˜„ Happiness*\nGreat    108
None                    72
Name: ğŸ˜„ Happiness*, dtype: int64

In [37]:
nomad_df['ğŸ˜„ Happiness*'] = nomad_df['ğŸ˜„ Happiness*'].map(lambda x: str(x)[13:])

In [38]:
nomad_df['ğŸ˜„ Happiness*'].value_counts()

Good     579
Okay     365
Bad      188
Great    108
          72
Name: ğŸ˜„ Happiness*, dtype: int64

In [39]:
nomad_df['ğŸ¸ Nightlife'].value_counts()

ğŸ¸ Nightlife\nOkay     649
ğŸ¸ Nightlife\nBad      451
ğŸ¸ Nightlife\nGood     176
ğŸ¸ Nightlife\nGreat     34
None                    2
Name: ğŸ¸ Nightlife, dtype: int64

In [40]:
nomad_df['ğŸ¸ Nightlife'] = nomad_df['ğŸ¸ Nightlife'].map(lambda x: str(x)[12:])

In [41]:
nomad_df['ğŸ¸ Nightlife'].value_counts()

Okay     649
Bad      451
Good     176
Great     34
           2
Name: ğŸ¸ Nightlife, dtype: int64

In [42]:
nomad_df['ğŸ“¶ Free WiFi in city'].value_counts()

ğŸ“¶ Free WiFi in city\nBad      439
ğŸ“¶ Free WiFi in city\nGood     435
ğŸ“¶ Free WiFi in city\nOkay     310
ğŸ“¶ Free WiFi in city\nGreat    111
None                           16
ğŸ“¶ Free WiFi in city             1
Name: ğŸ“¶ Free WiFi in city, dtype: int64

In [43]:
nomad_df['ğŸ“¶ Free WiFi in city'] = nomad_df['ğŸ“¶ Free WiFi in city'].map(lambda x: str(x)[20:])

In [44]:
nomad_df['ğŸ“¶ Free WiFi in city'].value_counts()

Bad      439
Good     435
Okay     310
Great    111
          17
Name: ğŸ“¶ Free WiFi in city, dtype: int64

In [45]:
nomad_df['ğŸ–¥ Places to work from'].value_counts()

ğŸ–¥ Places to work from\nGreat    729
ğŸ–¥ Places to work from\nBad      302
None                            133
ğŸ–¥ Places to work from\nGood      80
ğŸ–¥ Places to work from\nOkay      68
Name: ğŸ–¥ Places to work from, dtype: int64

In [46]:
nomad_df['ğŸ–¥ Places to work from'] = nomad_df['ğŸ–¥ Places to work from'].map(lambda x: str(x)[22:])

In [47]:
nomad_df['ğŸ–¥ Places to work from'].value_counts()

Great    729
Bad      302
         133
Good      80
Okay      68
Name: ğŸ–¥ Places to work from, dtype: int64

In [48]:
nomad_df['â„ï¸ A/C or heating'].value_counts()

â„ï¸ A/C or heating\nBad      353
â„ï¸ A/C or heating\nOkay     327
None                        285
â„ï¸ A/C or heating\nGood     196
â„ï¸ A/C or heating\nGreat    151
Name: â„ï¸ A/C or heating, dtype: int64

In [49]:
nomad_df['â„ï¸ A/C or heating'] = nomad_df['â„ï¸ A/C or heating'].map(lambda x: str(x)[18:])

In [50]:
nomad_df['â„ï¸ A/C or heating'].value_counts()

Bad      353
Okay     327
         285
Good     196
Great    151
Name: â„ï¸ A/C or heating, dtype: int64

In [51]:
nomad_df['ğŸ˜ Friendly to foreigners'].value_counts()

ğŸ˜ Friendly to foreigners\nOkay     370
ğŸ˜ Friendly to foreigners\nGood     348
None                               275
ğŸ˜ Friendly to foreigners\nGreat    178
ğŸ˜ Friendly to foreigners\nBad      141
Name: ğŸ˜ Friendly to foreigners, dtype: int64

In [52]:
nomad_df['ğŸ˜ Friendly to foreigners'] = nomad_df['ğŸ˜ Friendly to foreigners'].map(lambda x: str(x)[25:])

In [53]:
nomad_df['ğŸ˜ Friendly to foreigners'].value_counts()

Okay     370
Good     348
         275
Great    178
Bad      141
Name: ğŸ˜ Friendly to foreigners, dtype: int64

In [54]:
nomad_df['ğŸ—¯ Freedom of speech*'].value_counts()

ğŸ—¯ Freedom of speech*\nGood     618
ğŸ—¯ Freedom of speech*\nOkay     259
ğŸ—¯ Freedom of speech*\nBad      148
ğŸ—¯ Freedom of speech*\nGreat    135
ğŸ—¯ Freedom of speech*           106
None                            46
Name: ğŸ—¯ Freedom of speech*, dtype: int64

In [55]:
nomad_df['ğŸ—¯ Freedom of speech*'] = nomad_df['ğŸ—¯ Freedom of speech*'].map(lambda x: str(x)[21:])

In [56]:
nomad_df['ğŸ—¯ Freedom of speech*'].value_counts()

Good     618
Okay     259
         152
Bad      148
Great    135
Name: ğŸ—¯ Freedom of speech*, dtype: int64

In [57]:
nomad_df['ğŸ‘© Female friendly'].value_counts()

ğŸ‘© Female friendly\nOkay     492
ğŸ‘© Female friendly\nBad      342
ğŸ‘© Female friendly\nGood     330
ğŸ‘© Female friendly\nGreat    147
ğŸ‘© Female friendly             1
Name: ğŸ‘© Female friendly, dtype: int64

In [58]:
nomad_df['ğŸ‘© Female friendly'] = nomad_df['ğŸ‘© Female friendly'].map(lambda x: str(x)[18:])

In [59]:
nomad_df['ğŸ‘© Female friendly'].value_counts()

Okay     492
Bad      342
Good     330
Great    147
           1
Name: ğŸ‘© Female friendly, dtype: int64

In [60]:
nomad_df['ğŸŒˆ LGBTQ+ friendly'].value_counts()

ğŸŒˆ LGBTQ+ friendly\nGreat    653
ğŸŒˆ LGBTQ+ friendly\nBad      494
ğŸŒˆ LGBTQ+ friendly\nOkay     127
ğŸŒˆ LGBTQ+ friendly\nGood      38
Name: ğŸŒˆ LGBTQ+ friendly, dtype: int64

In [61]:
nomad_df['ğŸŒˆ LGBTQ+ friendly'] = nomad_df['ğŸŒˆ LGBTQ+ friendly'].map(lambda x: str(x)[18:])

In [62]:
nomad_df['ğŸŒˆ LGBTQ+ friendly'].value_counts()

Great    653
Bad      494
Okay     127
Good      38
Name: ğŸŒˆ LGBTQ+ friendly, dtype: int64

In [63]:
nomad_df['ğŸ… Startup Score'].value_counts()

ğŸ… Startup Score\nOkay    726
ğŸ… Startup Score\nBad     569
ğŸ… Startup Score\nGood     17
Name: ğŸ… Startup Score, dtype: int64

In [64]:
nomad_df['ğŸ… Startup Score'] = nomad_df['ğŸ… Startup Score'].map(lambda x: str(x)[16:])

In [65]:
nomad_df['ğŸ… Startup Score'].value_counts()

Okay    726
Bad     569
Good     17
Name: ğŸ… Startup Score, dtype: int64

In [66]:
nomad_df

,Rank,City,â­ï¸ Total score,ğŸ‘ Quality of life score,ğŸ‘¶ Family score,ğŸ’µ Cost,ğŸ“¡ Internet,ğŸ˜ Fun,ğŸ’¨ Air quality (annual),ğŸ‘®â€â™€ï¸ Lack of crime*,ğŸ¤ Lack of racism*,ğŸ“ Education level*,ğŸ’° Income level*,ğŸ™Š English speaking*,ğŸš¶ Walkability,ğŸš¦ Traffic safety*,ğŸ˜„ Happiness*,ğŸ¸ Nightlife,ğŸ“¶ Free WiFi in city,ğŸ–¥ Places to work from,â„ï¸ A/C or heating,ğŸ˜ Friendly to foreigners,ğŸ—¯ Freedom of speech*,ğŸ‘© Female friendly,ğŸŒˆ LGBTQ+ friendly,ğŸ… Startup Score
0,0,Lisbon,4.8,Good,Good,"ğŸ’µ Cost\nğŸ˜™ Affordable: $2,082 / mo",ğŸ“¡ Internet\nğŸ Fast: 26Mbps (avg),Great,ğŸ’¨ Air quality (annual)\nğŸŒ± Great: 32 US AQI,Great,Okay,Mediocre,"ğŸ’° Income level*\nLow: $1,646 / mo",Great,Great,Okay,Okay,Okay,Okay,Great,Okay,Good,Good,Good,Great,Okay
1,1,Cape Town,4.6,Good,Good,"ğŸ’µ Cost\nğŸ˜™ Affordable: $1,692 / mo",ğŸ“¡ Internet\nğŸ™‚ Good: 8Mbps (avg),Good,ğŸ’¨ Air quality (annual)\nğŸŒ± Great: 16 US AQI,Very bad,Okay,Mediocre,ğŸ’° Income level*\nVery low: $425 / mo,Great,Great,Bad,Bad,Good,Good,Great,Bad,Good,Good,Okay,Great,Okay
2,2,Porto,4.5,Good,Good,"ğŸ’µ Cost\nğŸ˜™ Affordable: $1,945 / mo",ğŸ“¡ Internet\nğŸ Fast: 33Mbps (avg),Good,ğŸ’¨ Air quality (annual)\nğŸŒ± Great: 11 US AQI,Great,Okay,Mediocre,"ğŸ’° Income level*\nLow: $1,646 / mo",Good,Bad,Okay,Okay,Okay,Good,Great,Great,Good,Good,Good,Great,Okay
3,3,Madeira,4.5,Good,Good,"ğŸ’µ Cost\nğŸ˜™ Affordable: $2,059 / mo",ğŸ“¡ Internet\nğŸ Fast: 38Mbps (avg),Good,None,Great,Okay,Mediocre,"ğŸ’° Income level*\nLow: $1,646 / mo",Good,Bad,Okay,Okay,Okay,Great,Great,Okay,Great,Good,Good,Great,Okay
4,4,"Las Palmas, Canary Islands",4.5,Good,Good,"ğŸ’µ Cost\nğŸ˜™ Affordable: $2,298 / mo",ğŸ“¡ Internet\nğŸ Fast: 25Mbps (avg),Good,ğŸ’¨ Air quality (annual)\nğŸŒ± Great: 38 US AQI,Great,Okay,High,"ğŸ’° Income level*\nMediocre: $2,225 / mo",Okay,Great,Okay,Good,Good,Okay,Great,Okay,Good,Good,Good,Great,Okay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,1338,Ramallah,2.0,Okay,Okay,"ğŸ’µ Cost\nğŸ˜³ Way too expensive: $5,474 / mo",ğŸ“¡ Internet\nğŸ™‚ Good: 6Mbps (avg),Bad,ğŸ’¨ Air quality (annual)\nğŸŒ± Good: 62 US AQI,Great,Good,,ğŸ’° Income level*\nVery low: $233 / mo,Okay,Bad,Okay,,Good,Bad,Okay,Okay,Good,Okay,Okay,Bad,Bad
1308,1339,Homs,1.9,Bad,Bad,"ğŸ’µ Cost\nğŸ˜™ Affordable: $1,241 / mo",ğŸ“¡ Internet\nğŸ¤¬ Unusably slow: 1Mbps (avg),Bad,None,Good,Bad,Mediocre,ğŸ’° Income level*\nVery low: $100 / mo,Bad,Great,Bad,Bad,Bad,Bad,Bad,Bad,Bad,,Bad,Bad,Bad
1309,1341,Monrovia,1.9,Bad,Bad,"ğŸ’µ Cost\nğŸ˜³ Way too expensive: $5,506 / mo",ğŸ“¡ Internet\nğŸ™‚ Good: 9Mbps (avg),Bad,None,Good,Bad,Very low,ğŸ’° Income level*\nVery low: $50 / mo,Bad,Bad,Bad,Bad,Okay,Bad,Great,Bad,Okay,Okay,Bad,Bad,Bad
1310,1343,Hama,1.8,Bad,Bad,"ğŸ’µ Cost\nğŸ˜™ Affordable: $1,950 / mo",ğŸ“¡ Internet\nğŸ˜¡ Slow: 2Mbps (avg),Bad,None,Good,Bad,Mediocre,ğŸ’° Income level*\nVery low: $100 / mo,Bad,Bad,Bad,Bad,Bad,Bad,Bad,Bad,Bad,,Bad,Bad,Bad
1311,1344,Yangzhou,1.7,Okay,Bad,"ğŸ’µ Cost\nğŸ§ Too expensive: $4,691 / mo",ğŸ“¡ Internet\nğŸ¤¬ Unusably slow: 1Mbps (avg),Bad,ğŸ’¨ Air quality (annual)\nğŸ˜· Unhealthy for some: ...,Great,Bad,Mediocre,ğŸ’° Income level*\nVery low: $677 / mo,Bad,Great,Bad,Okay,Bad,Bad,Good,Okay,Okay,,Okay,Bad,Bad

In [67]:
# columns to extract only numbers: 'ğŸ’µ Cost' , 'ğŸ“¡ Internet' 'ğŸ’¨ Air quality (annual)' 'ğŸ’° Income level*'

In [68]:
nomad_df['ğŸ’µ Cost'] = nomad_df['ğŸ’µ Cost'].str.extract('(\d+\W*\d*)')
nomad_df['ğŸ“¡ Internet'] = nomad_df['ğŸ“¡ Internet'].str.extract('(\d+\W*\d*)')
nomad_df['ğŸ’¨ Air quality (annual)'] = nomad_df['ğŸ’¨ Air quality (annual)'].str.extract('(\d+\W*\d*)')
nomad_df['ğŸ’° Income level*'] = nomad_df['ğŸ’° Income level*'].str.extract('(\d+\W*\d*)')

nomad_df[['ğŸ’µ Cost' , 'ğŸ“¡ Internet', 'ğŸ’¨ Air quality (annual)', 'ğŸ’° Income level*']]

     ğŸ’µ Cost ğŸ“¡ Internet ğŸ’¨ Air quality (annual) ğŸ’° Income level*
0     2,082         26                    32            1,646
1     1,692          8                    16           425 /
2     1,945         33                    11            1,646
3     2,059         38                    NaN           1,646
4     2,298         25                    38            2,225
...     ...        ...                    ...             ...
1307  5,474          6                    62           233 /
1308  1,241          1                    NaN          100 /
1309  5,506          9                    NaN           50 /
1310  1,950          2                    NaN          100 /
1311  4,691          1                   103           677 /

[1312 rows x 4 columns]

In [69]:
# replace ' / '
nomad_df['ğŸ’° Income level*']=nomad_df['ğŸ’° Income level*'].str.replace('/', '')

In [70]:
nomad_df.columns

Index(['Rank', 'City', 'â­ï¸ Total score', 'ğŸ‘ Quality of life score',
       'ğŸ‘¶ Family score', 'ğŸ’µ Cost', 'ğŸ“¡ Internet', 'ğŸ˜ Fun',
       'ğŸ’¨ Air quality (annual)', 'ğŸ‘®â€â™€ï¸ Lack of crime*', 'ğŸ¤ Lack of racism*',
       'ğŸ“ Education level*', 'ğŸ’° Income level*', 'ğŸ™Š English speaking*',
       'ğŸš¶ Walkability', 'ğŸš¦ Traffic safety*', 'ğŸ˜„ Happiness*', 'ğŸ¸ Nightlife',
       'ğŸ“¶ Free WiFi in city', 'ğŸ–¥ Places to work from', 'â„ï¸ A/C or heating',
       'ğŸ˜ Friendly to foreigners', 'ğŸ—¯ Freedom of speech*', 'ğŸ‘© Female friendly',
       'ğŸŒˆ LGBTQ+ friendly', 'ğŸ… Startup Score'],
      dtype='object')

In [71]:
#rename columns
colnames = {'Rank': 'rank', 'City': 'city', 'â­ï¸ Total score': 'total_score', 'ğŸ‘ Quality of life score': 'life_quality',
       'ğŸ‘¶ Family score': 'family_score', 'ğŸ’µ Cost': 'cost', 'ğŸ“¡ Internet': 'internet', 'ğŸ˜ Fun': 'fun',
       'ğŸ’¨ Air quality (annual)': 'air', 'ğŸ‘®â€â™€ï¸ Lack of crime*': 'crime', 'ğŸ¤ Lack of racism*': 'racism',
       'ğŸ“ Education level*': 'Education', 'ğŸ’° Income level*': 'income', 'ğŸ™Š English speaking*': 'speak_english',
       'ğŸš¶ Walkability': 'walkability', 'ğŸš¦ Traffic safety*': 'traffic_safety', 'ğŸ˜„ Happiness*': 'happiness', 'ğŸ¸ Nightlife': 'nightlife',
       'ğŸ“¶ Free WiFi in city': 'free_wifi', 'ğŸ–¥ Places to work from': 'coworking_places', 'â„ï¸ A/C or heating': 'ac_heating',
       'ğŸ˜ Friendly to foreigners': 'foreigner frendly', 'ğŸ—¯ Freedom of speech*': 'speech_freedom', 'ğŸ‘© Female friendly': 'female_frendly',
       'ğŸŒˆ LGBTQ+ friendly': 'lgbtq_plus_friendly', 'ğŸ… Startup Score': 'startup_score'}

nomad_df.rename(columns=colnames, inplace=True)
nomad_df.columns

Index(['rank', 'city', 'total_score', 'life_quality', 'family_score', 'cost',
       'internet', 'fun', 'air', 'crime', 'racism', 'Education', 'income',
       'speak_english', 'walkability', 'traffic_safety', 'happiness',
       'nightlife', 'free_wifi', 'coworking_places', 'ac_heating',
       'foreigner frendly', 'speech_freedom', 'female_frendly',
       'lgbtq_plus_friendly', 'startup_score'],
      dtype='object')

In [72]:
nomad_df.head(5)

,rank,city,total_score,life_quality,family_score,cost,internet,fun,air,crime,racism,Education,income,speak_english,walkability,traffic_safety,happiness,nightlife,free_wifi,coworking_places,ac_heating,foreigner frendly,speech_freedom,female_frendly,lgbtq_plus_friendly,startup_score
0,0,Lisbon,4.8,Good,Good,"2,082",26,Great,32,Great,Okay,Mediocre,"1,646",Great,Great,Okay,Okay,Okay,Okay,Great,Okay,Good,Good,Good,Great,Okay
1,1,Cape Town,4.6,Good,Good,"1,692",8,Good,16,Very bad,Okay,Mediocre,425,Great,Great,Bad,Bad,Good,Good,Great,Bad,Good,Good,Okay,Great,Okay
2,2,Porto,4.5,Good,Good,"1,945",33,Good,11,Great,Okay,Mediocre,"1,646",Good,Bad,Okay,Okay,Okay,Good,Great,Great,Good,Good,Good,Great,Okay
3,3,Madeira,4.5,Good,Good,"2,059",38,Good,NaN,Great,Okay,Mediocre,"1,646",Good,Bad,Okay,Okay,Okay,Great,Great,Okay,Great,Good,Good,Great,Okay
4,4,"Las Palmas, Canary Islands",4.5,Good,Good,"2,298",25,Good,38,Great,Okay,High,"2,225",Okay,Great,Okay,Good,Good,Okay,Great,Okay,Good,Good,Good,Great,Okay

In [73]:
pd.Series({col:nomad_df[col].unique() for col in nomad_df})

rank                   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14,...
city                   [Lisbon, Cape Town, Porto, Madeira, Las Palmas...
total_score            [4.8, 4.6, 4.5, 4.4, 4.3, 4.2, 4.1, 4.0, 3.9, ...
life_quality                                    [Good, Okay, Great, Bad]
family_score                                           [Good, Okay, Bad]
cost                   [2,082, 1,692, 1,945, 2,059, 2,298, 2,233, 1,1...
internet               [26, 8, 33, 38, 25, 39, 18, 19, 20, 29, 11, 10...
fun                                           [Great, Good, Okay, Bad, ]
air                    [32 , 16 , 11 , nan, 38 , 33 , 56 , 23 , 111 ,...
crime                               [Great, Very bad, Good, Bad, Okay, ]
racism                                        [Okay, Great, Good, Bad, ]
Education                   [Mediocre, High, Low, Very high, , Very low]
income                 [1,646, 425  , 2,225, 298  , 4,817, 704  , 493...
speak_english                                 [Great, Good, Okay, Bad, ]
walkability                                           [Great, Bad, Okay]
traffic_safety                                               [Okay, Bad]
happiness                                     [Okay, Bad, Good, Great, ]
nightlife                                     [Okay, Good, Great, Bad, ]
free_wifi                                     [Okay, Good, Great, Bad, ]
coworking_places                              [Great, Good, Bad, , Okay]
ac_heating                                    [Okay, Bad, Great, Good, ]
foreigner frendly                             [Good, Great, Okay, Bad, ]
speech_freedom                                [Good, Okay, Bad, Great, ]
female_frendly                                [Good, Okay, Great, Bad, ]
lgbtq_plus_friendly                             [Great, Good, Bad, Okay]
startup_score                                          [Okay, Good, Bad]
dtype: object

In [74]:
# lets change words Great, good, okay, bad, very bad and Mediocre, High, Low, Very high, , Very low to their numerical values

In [75]:
replacements = {"Great": "5",
"Good": "4",
"Okay": "3",
"Bad": "2",
"Very bad": "1",
"Very high": "5",
"High": "4",
"Mediocre": "3",
"Low": "2",
"Very low": "1"}

nomad_df.replace(replacements, inplace=True)

In [76]:
nomad_df.head(3)

,rank,city,total_score,life_quality,family_score,cost,internet,fun,air,crime,racism,Education,income,speak_english,walkability,traffic_safety,happiness,nightlife,free_wifi,coworking_places,ac_heating,foreigner frendly,speech_freedom,female_frendly,lgbtq_plus_friendly,startup_score
0,0,Lisbon,4.8,4,4,"2,082",26,5,32,5,3,3,"1,646",5,5,3,3,3,3,5,3,4,4,4,5,3
1,1,Cape Town,4.6,4,4,"1,692",8,4,16,1,3,3,425,5,5,2,2,4,4,5,2,4,4,3,5,3
2,2,Porto,4.5,4,4,"1,945",33,4,11,5,3,3,"1,646",4,2,3,3,3,4,5,5,4,4,4,5,3

In [77]:
# remove commas 
nomad_df.replace(',','', regex=True, inplace=True)
nomad_df.head(3)

,rank,city,total_score,life_quality,family_score,cost,internet,fun,air,crime,racism,Education,income,speak_english,walkability,traffic_safety,happiness,nightlife,free_wifi,coworking_places,ac_heating,foreigner frendly,speech_freedom,female_frendly,lgbtq_plus_friendly,startup_score
0,0,Lisbon,4.8,4,4,2082,26,5,32,5,3,3,1646,5,5,3,3,3,3,5,3,4,4,4,5,3
1,1,Cape Town,4.6,4,4,1692,8,4,16,1,3,3,425,5,5,2,2,4,4,5,2,4,4,3,5,3
2,2,Porto,4.5,4,4,1945,33,4,11,5,3,3,1646,4,2,3,3,3,4,5,5,4,4,4,5,3

In [78]:
nomad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   rank                 1312 non-null   int64
 1   city                 1312 non-null   object
 2   total_score          1312 non-null   object
 3   life_quality         1312 non-null   object
 4   family_score         1312 non-null   object
 5   cost                 1312 non-null   object
 6   internet             1312 non-null   object
 7   fun                  1312 non-null   object
 8   air                  943 non-null    object
 9   crime                1312 non-null   object
 10  racism               1312 non-null   object
 11  Education            1312 non-null   object
 12  income               1312 non-null   object
 13  speak_english        1312 non-null   object
 14  walkability          1312 non-null   object
 15  traffic_safety       1312 non-null   object
 16  happiness            1312 non-null   object
 17  nightlife            1312 non-null   object
 18  free_wifi            1312 non-null   object
 19  coworking_places     1312 non-null   object
 20  ac_heating           1312 non-null   object
 21  foreigner frendly    1312 non-null   object
 22  speech_freedom       1312 non-null   object
 23  female_frendly       1312 non-null   object
 24  lgbtq_plus_friendly  1312 non-null   object
 25  startup_score        1312 non-null   object
dtypes: int64(1), object(25)
memory usage: 266.6+ KB

In [79]:
nomad_df.columns

Index(['rank', 'city', 'total_score', 'life_quality', 'family_score', 'cost',
       'internet', 'fun', 'air', 'crime', 'racism', 'Education', 'income',
       'speak_english', 'walkability', 'traffic_safety', 'happiness',
       'nightlife', 'free_wifi', 'coworking_places', 'ac_heating',
       'foreigner frendly', 'speech_freedom', 'female_frendly',
       'lgbtq_plus_friendly', 'startup_score'],
      dtype='object')

In [80]:
nomad_df.replace('3/5','3.0', regex=True, inplace=True) # replaced / sign as it did not allow changing data type=
nomad_df.replace('/','', regex=True, inplace=True) # and removed the same sign from the rest

In [81]:
# convert columns to numericals to reflect their values float (numerical), but first we need to fill with nan and emtpy values otherwise datatype change will not work
num_df = nomad_df.drop(columns=['rank', 'city'])

In [82]:
#fill empty spaces with Nan
num_df[num_df==""] = np.NaN

In [83]:
# replace nans with neigbour value
num_df=num_df.fillna(method='ffill')

In [84]:
# and finally convert to numerical
numrs_df = num_df.astype(float)

In [85]:
numrs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   total_score          1312 non-null   float64
 1   life_quality         1312 non-null   float64
 2   family_score         1312 non-null   float64
 3   cost                 1312 non-null   float64
 4   internet             1312 non-null   float64
 5   fun                  1312 non-null   float64
 6   air                  1312 non-null   float64
 7   crime                1312 non-null   float64
 8   racism               1312 non-null   float64
 9   Education            1312 non-null   float64
 10  income               1312 non-null   float64
 11  speak_english        1312 non-null   float64
 12  walkability          1312 non-null   float64
 13  traffic_safety       1312 non-null   float64
 14  happiness            1312 non-null   float64
 15  nightlife            1312 non-null   float64
 16  free_wifi            1312 non-null   float64
 17  coworking_places     1312 non-null   float64
 18  ac_heating           1312 non-null   float64
 19  foreigner frendly    1312 non-null   float64
 20  speech_freedom       1312 non-null   float64
 21  female_frendly       1312 non-null   float64
 22  lgbtq_plus_friendly  1312 non-null   float64
 23  startup_score        1312 non-null   float64
dtypes: float64(24)
memory usage: 246.1 KB

In [86]:
pd.Series({col:numrs_df[col].unique() for col in numrs_df})

total_score            [4.8, 4.6, 4.5, 4.4, 4.3, 4.2, 4.1, 4.0, 3.9, ...
life_quality                                        [4.0, 3.0, 5.0, 2.0]
family_score                                             [4.0, 3.0, 2.0]
cost                   [2082.0, 1692.0, 1945.0, 2059.0, 2298.0, 2233....
internet               [26.0, 8.0, 33.0, 38.0, 25.0, 39.0, 18.0, 19.0...
fun                                                 [5.0, 4.0, 3.0, 2.0]
air                    [32.0, 16.0, 11.0, 38.0, 33.0, 56.0, 23.0, 111...
crime                                          [5.0, 1.0, 4.0, 2.0, 3.0]
racism                                              [3.0, 5.0, 4.0, 2.0]
Education                                      [3.0, 4.0, 2.0, 5.0, 1.0]
income                 [1646.0, 425.0, 2225.0, 298.0, 4817.0, 704.0, ...
speak_english                                       [5.0, 4.0, 3.0, 2.0]
walkability                                              [5.0, 2.0, 3.0]
traffic_safety                                                [3.0, 2.0]
happiness                                           [3.0, 2.0, 4.0, 5.0]
nightlife                                           [3.0, 4.0, 5.0, 2.0]
free_wifi                                           [3.0, 4.0, 5.0, 2.0]
coworking_places                                    [5.0, 4.0, 2.0, 3.0]
ac_heating                                          [3.0, 2.0, 5.0, 4.0]
foreigner frendly                                   [4.0, 5.0, 3.0, 2.0]
speech_freedom                                      [4.0, 3.0, 2.0, 5.0]
female_frendly                                      [4.0, 3.0, 5.0, 2.0]
lgbtq_plus_friendly                                 [5.0, 4.0, 2.0, 3.0]
startup_score                                            [3.0, 4.0, 2.0]
dtype: object

In [87]:
# this deals with nan values

In [88]:
# join the dataframe back together with the new datatypes
df=pd.concat([nomad_df[['rank', 'city']], numrs_df], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   rank                 1312 non-null   int64
 1   city                 1312 non-null   object
 2   total_score          1312 non-null   float64
 3   life_quality         1312 non-null   float64
 4   family_score         1312 non-null   float64
 5   cost                 1312 non-null   float64
 6   internet             1312 non-null   float64
 7   fun                  1312 non-null   float64
 8   air                  1312 non-null   float64
 9   crime                1312 non-null   float64
 10  racism               1312 non-null   float64
 11  Education            1312 non-null   float64
 12  income               1312 non-null   float64
 13  speak_english        1312 non-null   float64
 14  walkability          1312 non-null   float64
 15  traffic_safety       1312 non-null   float64
 16  happiness            1312 non-null   float64
 17  nightlife            1312 non-null   float64
 18  free_wifi            1312 non-null   float64
 19  coworking_places     1312 non-null   float64
 20  ac_heating           1312 non-null   float64
 21  foreigner frendly    1312 non-null   float64
 22  speech_freedom       1312 non-null   float64
 23  female_frendly       1312 non-null   float64
 24  lgbtq_plus_friendly  1312 non-null   float64
 25  startup_score        1312 non-null   float64
dtypes: float64(24), int64(1), object(1)
memory usage: 266.6+ KB

In [89]:
df

,rank,city,total_score,life_quality,family_score,cost,internet,fun,air,crime,racism,Education,income,speak_english,walkability,traffic_safety,happiness,nightlife,free_wifi,coworking_places,ac_heating,foreigner frendly,speech_freedom,female_frendly,lgbtq_plus_friendly,startup_score
0,0,Lisbon,4.8,4.0,4.0,2082.0,26.0,5.0,32.0,5.0,3.0,3.0,1646.0,5.0,5.0,3.0,3.0,3.0,3.0,5.0,3.0,4.0,4.0,4.0,5.0,3.0
1,1,Cape Town,4.6,4.0,4.0,1692.0,8.0,4.0,16.0,1.0,3.0,3.0,425.0,5.0,5.0,2.0,2.0,4.0,4.0,5.0,2.0,4.0,4.0,3.0,5.0,3.0
2,2,Porto,4.5,4.0,4.0,1945.0,33.0,4.0,11.0,5.0,3.0,3.0,1646.0,4.0,2.0,3.0,3.0,3.0,4.0,5.0,5.0,4.0,4.0,4.0,5.0,3.0
3,3,Madeira,4.5,4.0,4.0,2059.0,38.0,4.0,11.0,5.0,3.0,3.0,1646.0,4.0,2.0,3.0,3.0,3.0,5.0,5.0,3.0,5.0,4.0,4.0,5.0,3.0
4,4,Las Palmas Canary Islands,4.5,4.0,4.0,2298.0,25.0,4.0,38.0,5.0,3.0,4.0,2225.0,3.0,5.0,3.0,4.0,4.0,3.0,5.0,3.0,4.0,4.0,4.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,1338,Ramallah,2.0,3.0,3.0,5474.0,6.0,2.0,62.0,5.0,4.0,3.0,233.0,3.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,4.0,3.0,3.0,2.0,2.0
1308,1339,Homs,1.9,2.0,2.0,1241.0,1.0,2.0,62.0,4.0,2.0,3.0,100.0,2.0,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0
1309,1341,Monrovia,1.9,2.0,2.0,5506.0,9.0,2.0,62.0,4.0,2.0,1.0,50.0,2.0,2.0,2.0,2.0,3.0,2.0,5.0,2.0,3.0,3.0,2.0,2.0,2.0
1310,1343,Hama,1.8,2.0,2.0,1950.0,2.0,2.0,62.0,4.0,2.0,3.0,100.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0
1311,1344,Yangzhou,1.7,3.0,2.0,4691.0,1.0,2.0,103.0,5.0,2.0,3.0,677.0,2.0,5.0,2.0,3.0,2.0,2.0,4.0,3.0,3.0,3.0,3.0,2.0,2.0

In [93]:
df.to_csv('nomad_list_clean.csv')

In [90]:
#split city names in two columns to avoid errors with geopy
city1 = df.iloc[:670,:]
city2 = df.iloc[670:,:]

print(city1.shape)
print(city2.shape)

(670, 26)
(642, 26)

In [91]:
from geopy.geocoders import Nominatim
#import geopandas as gpd
geolocator = Nominatim(user_agent="MyGeocoder")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

In [92]:
from tqdm import tqdm
tqdm.pandas()
#city1['location'] = city1['city'].progress_apply(geocode)
#import time
#time.sleep(5)
df['location'] = df['city'].progress_apply(geocode)

#df['location'] = df['city'].apply(geocode)
df['lat'] = df['location'].apply(lambda geolocator: geolocator.point[0] if geolocator else None)
df['long'] = df['location'].apply(lambda geolocator: geolocator.point[1] if geolocator else None)

#city2['lat'] = city2['location'].apply(lambda geolocator: geolocator.point[0] if geolocator else None)
#city2['long'] = city2['location'].apply(lambda geolocator: geolocator.point[1] if geolocator else None)

 40%|â–ˆâ–ˆâ–ˆâ–‰      | 522/1312 [08:42<13:00,  1.01it/s]RateLimiter caught an error, retrying (0/2 tries). Called with (*('Santa Maria CA',), **{}).
Traceback (most recent call last):
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/connectionpool.py", line 445, in _make_request
    six.raise_from(e, None)
  File "<string>", line 3, in raise_from
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/connectionpool.py", line 440, in _make_request
    httplib_response = conn.getresponse()
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/http/client.py", line 1371, in getresponse
    response.begin()
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/http/client.py", line 319, in begin
    version, status, reason = self._read_status()
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/http/client.py", line 280, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/socket.py", line 704, in readinto
    return self._sock.recv_into(b)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/connectionpool.py", line 699, in urlopen
    httplib_response = self._make_request(
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/connectionpool.py", line 447, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/connectionpool.py", line 336, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/requests/adapters.py", line 439, in send
    resp = conn.urlopen(
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/connectionpool.py", line 783, in urlopen
    return self.urlopen(
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/connectionpool.py", line 783, in urlopen
    return self.urlopen(
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/connectionpool.py", line 755, in urlopen
    retries = retries.increment(
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/urllib3/util/retry.py", line 574, in increment
    raise MaxRetryError(_pool, url, error or ResponseError(cause))
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Santa+Maria+CA&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/geopy/adapters.py", line 448, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/requests/sessions.py", line 555, in get
    return self.request('GET', url, **kwargs)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/requests/sessions.py", line 542, in request
    resp = self.send(prep, **send_kwargs)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/requests/sessions.py", line 655, in send
    r = adapter.send(request, **kwargs)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/requests/adapters.py", line 516, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Santa+Maria+CA&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/geopy/extra/rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/geopy/extra/rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/geopy/geocoders/nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/geopy/geocoders/base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/geopy/adapters.py", line 438, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/geopy/adapters.py", line 460, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Santa+Maria+CA&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1312/1312 [23:06<00:00,  1.06s/it]

In [95]:
df = df.drop(['location'],axis=1)
df.to_csv('nomad_list_clean.csv')

In [96]:
df

,rank,city,total_score,life_quality,family_score,cost,internet,fun,air,crime,racism,Education,income,speak_english,walkability,traffic_safety,happiness,nightlife,free_wifi,coworking_places,ac_heating,foreigner frendly,speech_freedom,female_frendly,lgbtq_plus_friendly,startup_score,lat,long
0,0,Lisbon,4.8,4.0,4.0,2082.0,26.0,5.0,32.0,5.0,3.0,3.0,1646.0,5.0,5.0,3.0,3.0,3.0,3.0,5.0,3.0,4.0,4.0,4.0,5.0,3.0,38.707751,-9.136592
1,1,Cape Town,4.6,4.0,4.0,1692.0,8.0,4.0,16.0,1.0,3.0,3.0,425.0,5.0,5.0,2.0,2.0,4.0,4.0,5.0,2.0,4.0,4.0,3.0,5.0,3.0,-33.928992,18.417396
2,2,Porto,4.5,4.0,4.0,1945.0,33.0,4.0,11.0,5.0,3.0,3.0,1646.0,4.0,2.0,3.0,3.0,3.0,4.0,5.0,5.0,4.0,4.0,4.0,5.0,3.0,41.149451,-8.610788
3,3,Madeira,4.5,4.0,4.0,2059.0,38.0,4.0,11.0,5.0,3.0,3.0,1646.0,4.0,2.0,3.0,3.0,3.0,5.0,5.0,3.0,5.0,4.0,4.0,5.0,3.0,32.751749,-16.981752
4,4,Las Palmas Canary Islands,4.5,4.0,4.0,2298.0,25.0,4.0,38.0,5.0,3.0,4.0,2225.0,3.0,5.0,3.0,4.0,4.0,3.0,5.0,3.0,4.0,4.0,4.0,5.0,3.0,27.958000,-15.606231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,1338,Ramallah,2.0,3.0,3.0,5474.0,6.0,2.0,62.0,5.0,4.0,3.0,233.0,3.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0,4.0,3.0,3.0,2.0,2.0,31.903054,35.195225
1308,1339,Homs,1.9,2.0,2.0,1241.0,1.0,2.0,62.0,4.0,2.0,3.0,100.0,2.0,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,34.733333,36.716667
1309,1341,Monrovia,1.9,2.0,2.0,5506.0,9.0,2.0,62.0,4.0,2.0,1.0,50.0,2.0,2.0,2.0,2.0,3.0,2.0,5.0,2.0,3.0,3.0,2.0,2.0,2.0,6.328034,-10.797788
1310,1343,Hama,1.8,2.0,2.0,1950.0,2.0,2.0,62.0,4.0,2.0,3.0,100.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,35.134337,36.749628
1311,1344,Yangzhou,1.7,3.0,2.0,4691.0,1.0,2.0,103.0,5.0,2.0,3.0,677.0,2.0,5.0,2.0,3.0,2.0,2.0,4.0,3.0,3.0,3.0,3.0,2.0,2.0,32.396994,119.407701