In [6]:
import pandas as pd
import time
from selenium import webdriver 
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

In [3]:
#  this does not work 
from selenium.webdriver.chrome.options import Options

#Options of Selenium to avoid chrome knowing you are a robot
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])

opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('drive/adblock.crx') #adblocker

from fake_useragent import UserAgent
usuario = UserAgent().random
opciones.add_argument(f'user-agent= {usuario}')

Error occurred during loading data. Trying to use cache server https://fake-useragent.herokuapp.com/browsers/0.1.11
Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.9/site-packages/fake_useragent/utils.py", line 154, in load
    for item in get_browsers(verify_ssl=verify_ssl):
  File "/opt/homebrew/lib/python3.9/site-packages/fake_useragent/utils.py", line 99, in get_browsers
    html = html.split('<table class="w3-table-all notranslate">')[1]
IndexError: list index out of range

In [7]:
driver = webdriver.Chrome('/Users/ziga/Downloads/chromedriver')

In [ ]:
driver.get('https://nomadlist.com/')

In [98]:
#scroll to botton of page to load all cities
# (https://www.codegrepper.com/search.php?q=selenium%20python%20scroll%20down%20until%20the%20end)
SCROLL_PAUSE_TIME = 1

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [101]:
ranks = driver.find_elements_by_xpath('//span[@class="rank"]')
city_names = driver.find_elements_by_xpath('//h2[@class="itemName"]')

city = []
for i in range(len(city_names)):
     city.append(city_names[i].text)

rank = []
for i in range(len(ranks)):
     rank.append(ranks[i].text)

#save to pandas df

In [ ]:
# cities web links
for i in city:

In [ ]:
for i in city:
    time.sleep(5)
    driver.get(f"https://nomadlist.com/{i}")
    t_score = driver.find_elements_by_xpath('//span[@xitemprop="ratingValue"]')
    print(t_score)

In [144]:
driver.get('https://nomadlist.com/lisbon')

In [151]:
"""
get columns and content

"""
columns_ = driver.find_elements_by_xpath('//td[@class="key"]')

columns = []
for i in range(len(columns_)):
     columns.append(columns_[i].text)

columns

['⭐️ Total score',
 '👍 Quality of life score',
 '👶 Family score',
 '💵 Cost',
 '📡 Internet',
 '😝 Fun',
 '⛅️ Temperature (now)',
 '💦 Humidity (now)',
 '💨 Air quality (now)',
 '💨 Air quality (annual)',
 '👌 Safety',
 '👮\u200d♀️ Lack of crime*',
 '🤝 Lack of racism*',
 '🎓 Education level*',
 '💰 Income level*',
 '🙊 English speaking*',
 '😤 People density',
 '🚶 Walkability',
 '✌️ Peace (no pol. conflict)',
 '🚦 Traffic safety*',
 '🏥 Hospitals*',
 '😄 Happiness*',
 '🍸 Nightlife',
 '📶 Free WiFi in city',
 '🖥 Places to work from',
 '❄️ A/C or heating',
 '😁 Friendly to foreigners',
 '🗯 Freedom of speech*',
 '👩 Female friendly',
 '🌈 LGBTQ+ friendly',
 '🎅 Startup Score',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [149]:
content_ = driver.find_elements_by_xpath('//td[@class="value"]')

content = []
for i in range(len(content_)):
     content.append(content_[i].text)

content

['4.79/5 (Rank #1)\n255 reviews',
 'Good',
 'Good',
 '😙 Affordable: $2,106 / mo',
 '🏎 Fast: 26Mbps (avg)',
 'Great',
 '🌞 Nice: 19°C (feels 20°C)',
 '😊 Comfy: 63%',
 '🌱 Great: 23 US AQI',
 '🌱 Great: 32 US AQI',
 'Great',
 'Great',
 'Okay',
 'Mediocre',
 'Low: $1,646 / mo',
 '👍89% liked it 👎11% disliked it',
 'Great',
 '🧘\u200d♀️ Low density: 6k ppl/km² (12x12m)',
 'Great',
 'Good',
 'Okay',
 'Bad',
 'Okay',
 'Okay',
 'Okay',
 'Great',
 'Okay',
 'Good',
 'Good',
 'Good',
 'Great',
 'Okay',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [ ]:
# data retrieved for one city .. next step is gather it for all cities and then make a dataframe and clean it up

In [189]:
df_col = pd.DataFrame([columns])
df_col

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,⭐️ Total score,👍 Quality of life score,👶 Family score,💵 Cost,📡 Internet,😝 Fun,⛅️ Temperature (now),💦 Humidity (now),💨 Air quality (now),💨 Air quality (annual),...,,,,,,,,,,

In [190]:
df_col.columns = df_col.iloc[0]
df_col = df_col[1:]
df_col.head()

Empty DataFrame
Columns: [⭐️ Total score, 👍 Quality of life score, 👶 Family score, 💵 Cost, 📡 Internet, 😝 Fun, ⛅️ Temperature (now), 💦 Humidity (now), 💨 Air quality (now), 💨 Air quality (annual), 👌 Safety, 👮‍♀️ Lack of crime*, 🤝 Lack of racism*, 🎓 Education level*, 💰 Income level*, 🙊 English speaking*, 😤 People density, 🚶 Walkability, ✌️ Peace (no pol. conflict), 🚦 Traffic safety*, 🏥 Hospitals*, 😄 Happiness*, 🍸 Nightlife, 📶 Free WiFi in city, 🖥 Places to work from, ❄️ A/C or heating, 😁 Friendly to foreigners, 🗯 Freedom of speech*, 👩 Female friendly, 🌈 LGBTQ+ friendly, 🎅 Startup Score, , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ]
Index: []

[0 rows x 66 columns]

In [167]:
df_con = pd.DataFrame([content])
df_con

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,66
0,4.79/5 (Rank #1)\n255 reviews,Good,Good,"😙 Affordable: $2,106 / mo",🏎 Fast: 26Mbps (avg),Great,🌞 Nice: 19°C (feels 20°C),😊 Comfy: 63%,🌱 Great: 23 US AQI,🌱 Great: 32 US AQI,...,,,,,,,,,,